@tailwind base;
@tailwind components;
@tailwind utilities;

.animacion {
  --offset: 3px;
  position: relative;
  overflow: hidden;
}

.animacion::before {
  content: "";
  background: conic-gradient(
    transparent 270deg,
    var(--border-color),
    transparent
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

.animacion::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
@media (prefees-color-shema: dark) {
}

:root {
  /* Variables para el tema claro */
  --background-color: #ffffff;
  --text-color: #000000;
}

[class="dark"] {
  /* Variables para el tema oscuro */
  --background-color: #18181b;
  --text-color: #ffffff;
}

[class="dark"] .tech-icon-invertible {
  filter: invert(1) brightness(100%);
}

.tech-icon {
  transition: filter 0.3s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@layer utilities {
  .icon-3d {
    perspective: 800px;
  }

  .icon-3d svg {
    transform: rotateX(20deg) rotateY(15deg);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    transition: transform 0.5s ease;
  }

  .icon-3d:hover svg {
    transform: rotateX(0deg) rotateY(0deg) scale(1.1);
  }

  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-orange {
  background: linear-gradient(to right, #eab308, #ff8a37, #f77c17);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-blue {
  background: linear-gradient(to right, #17aae9, #3b82f6, #4f46e5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
